/*
chromeではなぜかcssが表示されなかったが別のブラウザで（他の端末で）開くと治った:おそらくgithub.ioへ時間差で反映されるのかも
font-family:
margin: 上　横　下？
text-align: 後で確認する
font-weight:太字など
*/

.container {
  font-family: 'Courier New', sans-serif;
  width: 300px;
  margin: 30px auto 0;
  text-align: center;
  font-weight: bold;
}

/*
複数のタグを指定する際は、,で区切る
line-height: なんだっけ？
*/

#target, #result {
  font-weight: 32px;
  margin-bottom: 15px;
  background: #ccc;
  height: 60px;
  line-height: 60px;
}

/*#idがresultで.classがperfect */
#result.perfect {
  background: #FA5555;
  color: #fff;
  
}

/*idの場合#を付ける*/
#start {
  float: left;
}

#stop {
  float: right;
}

/*
cursor:カーソルが当たった時の処理    
height line-height で上下左右を合わせる
box-shadow 上　下　横？
*/
#start, #stop {
  cursor: pointer;
  font-size: 18px;
  width: 145px;
  background: #eee;
  height: 40px;
  line-height: 40px;  
  box-shadow: 0 6px 0 #ccc;
}

#start.pushed, #stop.pushed {
  
  margin-top: 3px;
  
  box-shadow: 0 3px 0 #ccc;
  
}
